.header {
  margin-left: 260px;
  height: 50px;
  display: flex;
  align-items: center;
}
.logo {
  height: 55px;
}
.line-header {
  height: 2px;
  background-color: rgb(244, 245, 245);
}
.container-nav {
  margin-left: 260px;
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-title {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 33px;
  color: black;
}
.header-text {
  margin-right: 200px;
  margin-bottom: 40px;
  line-height: 27px;
  font-size: 21px;
  color: grey;
}

.img-nav {
  min-width: 370px;
  height: 200px;
  margin: 40px 260px 40px 0px;
  border: 1px;
  border-radius: 5%;
}
.container {
  background-color: rgb(244, 245, 245);
  display: flex;
  flex-direction: row;
}
.menu-title {
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}
.menu {
  display: flex;
  flex-direction: column;
  margin-left: 260px;
  margin-right: 50px;
}

.menu-slide {
  display: flex;
  width: 440px;
  height: 170px;
  background-color: white;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px;
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text-1 {
  font-size: 18px;
  margin-bottom: 5px;
}
.text-2 {
  font-size: 15px;
  color: grey;
  margin-bottom: 5px;
  overflow: hidden;
  height: 70px;
  width: 200px;
}
.text-3 {
  font-size: 17px;
  color: grey;
}
.menu-text {
  max-height: 100%;
  margin-right: 15px;
  line-height: 22px;
  margin-left: 15px;
  margin-top: 15px;
}
.img-meal {
  width: 130px;
  height: 140px;
  margin: 15px 15px 15px 15px;
  border: 1px;
  border-radius: 10%;
}
.menu-items {
  display: flex;
  flex-wrap: wrap;
}
.container-1 {
  width: 1280px;
}
.container-2 {
  width: 360px;
  height: 200px;
  margin-top: 70px;
  background-color: white;
  border: 1px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.valider-mon-panier {
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
  color: grey;
  border: solid rgb(211, 205, 205) 1px;
  border-radius: 4%;
  background-color: rgb(211, 205, 205);
  padding: 10px 65px 10px 65px;
}
.text-4 {
  font-size: 17px;
  color: grey;
  margin-top: 30px;
}
